<a href="https://colab.research.google.com/github/mohanraj-official/Python-Practices-with-Google-Colab/blob/main/8_Conditional_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Beginner

###Simple if statements

In [ ]:
x = 5
if x > 4:
  print(f"{x} is Greater than 4")
if x < 6:
  print(f"Now also {x} is lower than 6")

5 is Greater than 4
Now also 5 is lower than 6

###if-elif-statements

In [ ]:
if x < 5:
  print("X is greater")
else:
  print("X is lesser")

X is lesser

###if-else-statements

In [ ]:
if x < 5:
  print("x is less than 5")
elif x == 5:
  print("x is equal to 5")
else:
  print("x is greater than 5")

x is equal to 5

###Even or odd

In [ ]:
n = 7
if n % 2 == 0:
  print("This is Even number")
else:
  print("This is Odd number")

This is Odd number

###Nested if statements

In [ ]:
n = 10
if n > 0 :
  if n % 2 == 0:
    print("Given value is positive and Even number")

Given value is positive and Even number

###Positive negative or zero

In [ ]:
g = -4
if g > 0:
  print("Positive")
elif g == 0:
  print("Equal to zero")
else:
  print("Negative")

Negative

###check if number is divisablle by 3

In [ ]:
e = 66
if e % 3 == 0 :
  print("Given value is divisible by 3")
else:
  print("Never")

Given value is divisible by 3

###Check the condition

In [ ]:
d = 12
if d >= 10:
  print("D is larger")

D is larger

###Multiple condition

In [ ]:
f = 100
if f > 50 and f < 110:
  print("It is True")

It is True

###Check if list is empty

In [ ]:
listm = []
if not listm:
  print("List is empty")
else:
  print("List is not Empty")

List is empty

#Intermediate

###Multiple Conditions with and or

In [ ]:
z = 25
if z > 20 and z < 30:
  print("It is True")
else:
  print("It is False")

It is True

###Ternary operator

In [ ]:
x = 5
result = "postive" if x > 0 else "Negative"
print(result)

postive

###Nested if statments

In [ ]:
n = 35
if n > 50:
  print("Greater than 50")
elif n >= 20:
  print("Value between 20 and 50")
else:
  print("Less than 20")

Value between 20 and 50

###Multiple factor

In [ ]:
h = 75
if h % 2 == 0 and h % 3 == 0:
    print("Given number is divisible by 2 and 3")
elif h % 2 == 0:
  print("Given number is divisible by 2")
elif h % 3 == 0:
  print("Given number is divisible by 3")
else:
  print("Give a proper number")

Given number is divisible by 3

###Logical operators and conditions

In [ ]:
x = 10
if 5 < x < 20 and x % 2 == 0:
  print("Yes is it")
else:
  print("No")

Yes is it

###String startswith and endswith

In [ ]:
txt = "Hello"
if txt.startswith("H") and txt.endswith("o"):
  print("Given String is Correct")
else:
  print("Nope")

Given String is Correct

###Check all elements positive

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
if all(i > 0 for i in list):
  print("All elements are Positive")
else:
  print("None")

All elements are Positive

###Check palindrome or not

In [ ]:
user = input("ENter your word : ")
if user == user[::-1]:
  user = user.upper()
  print(f"Given word {user} is a palindrome")
else:
  user = user.upper()
  print(f"given word {user} is not a palindrome")

ENter your word : dad
Given word DAD is a palindrome

###Nested if

In [ ]:
age = int(input("Enter your age : "))
if age < 13:
  print("You are a child")
elif 13 <= age < 20:
  print("You are a Teenager")
elif age > 20:
  print("You are Adult")
else:
  print("Invalid input")

Enter your age : 16
You are a Teenager

###Membership operator in condition

In [ ]:
li = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
choice = int(input("Enter the Value : "))
if choice in li:
  print(f"Given value {choice} is in the list")
else:
  print("Not in list")

Enter the Value : 15
Given value 15 is in the list